{% extends "base.html" %}
{% load static %}


{% block scripts %}
  <script src="{% static 'js/project.js' %}" defer></script>
{% endblock scripts %}
{% block content %}

  <!-- Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Start Quiz?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body-confirm"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
          <button type="button" id="start-button" class="btn btn-success">yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="h1">Quiz List</div>
  <hr>
  {% for quiz in quizzes %}
    <div class="card-body">
      <h5 class="card-title">{{ quiz.topic}} - {{ quiz.time }}m</h5>
      <p class="card-text">Your Are Taking {{ quiz.title }} on Topic: {{ quiz.topic }}, Consists of {{ quiz.number_of_questions }} MCQ</p>
    </div>
    <button
      class="btn btn-link modal-button"
      data-pk="{{ quiz.pk }}"
      data-quiz="{{ quiz.name }}"
      data-questions="{{ quiz.number_of_questions }}"
      data-difficulty="{{ quiz.difficluty }}"
      data-time="{{ quiz.time }}"
      data-pass="{{ quiz.required_score_to_pass }}"
      data-toggle="modal"
      data-target="#quizStartModal">
      <a href="#" class="btn btn-primary">Take Quiz</a>

    </button>
    <hr>

  {% endfor %}
{% endblock content %}
